@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
}

.titre h1{
    color: #00d939;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
}

.titre h2{
    color: #b20000;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
}
.texte{

    width: 40%;
}



/* ----- FORM ----- */

form{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 10px;
}

form span{
    color: #00d939;
    font-size: 1em;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
}
form span1{
    color: white;
    font-size: 1em;
    display: flex;
    width: 60px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 15px;
}
.t{
    display: flex;
    flex-direction: row;
}
.input {
    color: #c5c5c5;
}
input {
    margin-left: 5px;
    background: none;
    text-decoration: none;
    outline: none;
    border: none;
    color:#c5c5c5;
    width: 100%;
    font-size: 15px;
}
